<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employeemanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeeManagement">
        <activity android:name=".ui.employee_detail.EmployeeDetailActivity" />
        <activity android:name=".ui.employee_task.EmployeeTaskActivity" />
        <activity android:name=".ui.assign_task.AssignTaskActivity" />
        <activity android:name=".ui.my_account.MyAccountActivity" />
        <activity android:name=".ui.show_all.ShowAllActivity" />
        <activity android:name=".ui.manage_call.ManageCallActivity" />
        <activity android:name=".ui.Today_task.TodayTaskActivity" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EmployeeManagement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>